<h1>Thêm sinh viên</h1>
<form action="/add" method="POST">
    MaSV: <input type="text" name="MaSV">
    <br> NgaySinh: <input type="text" name="Ngaysinh">
    <br> gioitinh: <input type="text" name="gioitinh">
    <br> quequan: <input type="text" name="quequan"><br>
    <button type="submit">Thêm sinh viên</button>

</form>